<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <title><%- title %></title>
    <script>
      // 初始化页面PageIn埋点, 添加离线包相关信息
      try {
        var getUrlParam = null;
        if (window.shareitBridge) {
          getUrlParam = function (name) {
            var match = location.hash.match(/#[^?]+(\?.+)/);
            var u = window.location.search || (match && match[1]) || "",
              reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"),
              r = u.substr(u.indexOf("?") + 1).match(reg);
            return r != null ? r[2] : "";
          };
          // 离线包统计埋点
          window.shareitBridge.syncInvoke(
            "web",
            "handleStatsEvent",
            JSON.stringify({
              eventId: "show_ve",
              pve_cur: "<%- REPLACE_LOG_PVE_CUR %>" + "/x",
              extras: "<%- REPLACE_LOG_EXTRAS %>",
              portal: getUrlParam("portal"),
              // type: "0", // 实时埋点上报type
            })
          );
        }
      } catch (error) {
        console.error(error);
      }
    </script>
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but this site doesn't work properly without JavaScript enabled. Please enable it to
        continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- 暂无Vue3 配套的vue-router\vuex\axios bundle，需要本地安装 -->
    <script src="//static.wshareit.com/libs/bundle_intersection_hybird.js"></script>
    <!-- <script src="//static.wshareit.com/libs/lottie_light.min.js"></script> -->
  </body>
</html>
