// 全屏遮罩
@mixin overlay($zindex: 1, $color: #000, $alpha: 0.7) {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex;
  overflow: hidden;
  background: rgba($color, $alpha);
}

// 绝对定位居中
@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// flex 布局
@mixin flex($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

// 单行文本溢出隐藏
@mixin text-overflow-single {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 多行文本溢出隐藏
@mixin text-overflow-multi($line: 2) {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
}

@mixin bgImage($url, $size: contain) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: $size;
}
